.App {
  padding-top: 2rem;
  text-align: center;
}

.App > div {
  margin: 2rem;
}

button {
  margin: 2rem;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  font-size: 20px;
  cursor: pointer;
}

.profile > div {
  margin: 1rem;
}
